/GAFuzzySystem (copia)/build/
/GAFuzzySystem (copia)/nbproject/private/
/FuzzySystem (copia)/build/
/FuzzySystem (copia)/nbproject/private/
/FuzzySystem/build/
/FuzzySystem/nbproject/private/
/FuzzySystem/dist/
/GAFuzzySystem/dist/